# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
*.mo

#oponcode
.oponcode/skils/frontend-design.md
# Environment
.env
venv/
#plan
plan.txt

# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
